<% if @tag.present? %>
    <h1><%= "Image with tag: #{@tag}" %></h1>
    <%= link_to 'Show all images', images_path %>
<% else %>
    <h1>All Images</h1>
<% end %>

<ul>
  <% @images.each do |image| %>
      <li>
        <%= link_to image_path(image) do %>
          <img src="<%= image.link %>" width="400">
        <% end %>

        <% if image.tag_list.empty? %>
            <br><strong class="no_tag_here"> (No tags for this image) </strong>
        <% else %>
            <ul>
              <% image.tag_list.each do |t| %>
                  <li class="this_tag">
                    <%= link_to t, images_path(tag: t) %>
                  </li>
              <% end %>
            </ul>
        <% end %>
      </li>
  <% end %>
</ul>

<p>
  <%= link_to 'Upload Image', new_image_path %>
</p>
