<h1>Save new Image Here!</h1>

<%= simple_form_for @image do |form| %>
    <p>
      <%= form.input :link, label: 'URL:'%>
    </p>

    <p>
      <%= form.input :tag_list, label: 'Tags', hint: '(Comma to separate tags)'%>
    </p>

    <p>
      <%= form.submit 'save'%>
    </p>
<% end %>

<%= link_to 'Go Back to homepage', root_path %>
